:root{
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}
h1{
    color: var(--dark-blue);
}
.intro p{
    color:var(--desaturated-blue)
}

body{
    background-image:url(./images/pattern-background-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    max-width: 400px;
    align-items: center;
}

.hero-img{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    
}

.intro{
    width: 270px;
}

.card-plan{
    display: flex;
    padding: 15px;
    background-color: var(--very-pale-blue);
    width: 240px;
    height: 60px;
    justify-content: space-around;
    border-radius: 0.7rem;
    margin-bottom: 20px;
    
}
.card-plan img{
    width: 40px;
    height: 40px;
    align-self: center;
    margin-right: 10px;
}
.card-plan a{
    color: var(--desaturated-blue);
    align-self: center;
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
}

.price{
    margin-right: 60px;
    align-self: center;    
}

#one{
    width: 270px;
    height: 35px;
    border-radius: 0.4rem; 
    margin-bottom: 5px;  
    background-color: var(--bright-blue); 
    color: white;
    border: none;
    font-weight: 600;
    transition: background-color 0.5s;
}
#one:hover{
    width: 270px;
    height: 35px;
    border-radius: 0.4rem; 
    margin-bottom: 5px;  
    background-color: var(--desaturated-blue); 
    color: white;
    border: none;
    font-weight: 600;
}

#two{
    width: 270px;
    height: 35px;
    border-radius: 0.4rem;
    margin-bottom: 40px;
    border: none;
}